.favorite-container {
    position: relative;
    display: inline-block;
}

.heart-icon {
    width: 24px;
    height: 24px;
}

.favorite-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #FAFAED;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.favorite-container:hover .favorite-text {
    visibility: visible;
    opacity: 1;
}